<div class="grid gap-2 grid-cols-2  grid-rows-1 dialog" [ngClass]="statusClass">
    <div class="flex-row items-center justify-center bg-transparent">
        <img class="img shadow-2xl" [src]="data.images.small" alt="">
    </div>
    <div>
        <div class="header">
            <h3>{{data.name}}</h3>
            <img class="imgsimb" [src]="data.images.symbol">
        </div>
    </div>
    <div class="btns p-2 flex items-center justify-around col-start-1 col-end-7">
        <button (click)="addCard()" mat-mini-fab>
            <mat-icon>add</mat-icon>
        </button>
        <button mat-mini-fab mat-dialog-close="">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>