.img{
    margin: 20px;
}
.header{
    text-align: center;
    margin-top: 10px;
}
.imgsimb{
    width: 300px;
}
.fogo{
    background: #f25151;
}
.agua{
    background: #00BFFF;
}
.dragao{
    background: #BDB76B;
}
.fada{
    background: #f3c3f1;
}
.incolor{
    background: #c9c8c8;
}
.luta{
    background: #e89f50;
}
.metal{
    background: #A9A9A9;
}
.planta{
    background: #bff22c;
}
.psiquico{
    background: #DDA0DD;
}
.raio{
    background: #F0E68C;
}
.escuridao{
    background: #21586a;
}