.dialog{
    background: rgb(240,206,0);
    background: radial-gradient(circle, rgba(240,206,0,1) 0%, rgba(0,10,240,1) 100%);
}
.img{
    margin: 20px;
}
.header{
    text-align: center;
    margin-top: 10px;
}
.imgsimb{
    width: 300px;
}