@tailwind base;
@tailwind components;
@tailwind utilities;

.example-spacer {
    flex: 1 1 auto;
    border-radius: 20px;
}
mat-toolbar{
    color: #000af0;
    margin-bottom: 50px;
    background: rgb(240,206,0);
 //   background: linear-gradient(90deg, rgba(240,206,0,1) 28%, rgba(0,10,240,1) 62%);
    }
.icon{
    width: 100px;

}
img{
    width: 200px;
}
