.baralho{
    width: 90%;
    margin: auto;
}
.cartas{
    border-radius: 20px;
    margin: 5%;
    width: 200px;
}
mat-card{
    text-align: center;
    border: 0;  
    border-radius: 30px;  
}
img{
    border-radius: 30px;
}