<div *ngIf="semBaralho">
    <div class="baralho grid grid-cols-4 shadow-2xl" elevated>
        <h1>Não a baralho</h1>
    </div>
</div>
<div>
    <div class="baralho grid grid-cols-4" elevated>
        <div *ngFor="let baralho of baralhos" class="cartas">
            <mat-card class="example-card" appearance="outlined">
                <img mat-card-image src="../../assets/imgs/images.jpeg" alt="carta">
                <h1>{{baralho.nome}}</h1>
            </mat-card>
        </div>
    </div>
</div>