.example-card {
    max-width: 400px;
    border-radius: 20px;

}
  
.example-card-footer {
    padding: 16px;
}
.cardAdd{
    width: 20%;
    position: fixed;
    top: 200px
}
.card{
    width: 70%;
    margin-left: 20px;
    border-radius: 20px;

}
.cartas{
    border-radius: 20px;
    margin: 5%;
}
.simb{
    margin-top: 10px;
    width: 25px;
}
.name{
    margin-top: 0;
    width: 10px;
}
mat-form-field{
    margin: 10px;
}
mat-card{ 
   color: rgb(240,206,0);
   background: rgb(0,10,240,1);
  // background: linear-gradient(90deg, rgba(240,206,0,1) 0%, rgba(0,10,240,1) 100%);
}
button{
    background-color: rgb(240,206,0);
    margin: auto;
}
h1{
    font-size: 9px;
    margin-bottom: 1px;
}
mat-card-content{
    display: flex;
}
h2{
    margin-right: 10px;
}
